body {
  font: 2.2vh Helvetica-Neue, Helvetica, sans-serif;
  background-color: #E8F7EE;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
}

.buttoncontainer {
  background-color: #B8C4BB;
  display: flex;
  padding: 50px;
  margin: 50px;
  width: 200px;
  flex-direction: column;
}

.coloroptions {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.coloroptions button {
  background-image: linear-gradient(92.88deg, #455EB5 9.16%, #5643CC 43.89%, #673FD7 64.72%);
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  flex-shrink: 0;
  font-family: "Inter UI","SF Pro Display",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
  font-size: 16px;
  font-weight: 500;
  height: 4rem;
  padding: 0 1.6rem;
  text-align: center;
  text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
  transition: all .5s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.coloroptions button {
  box-shadow: rgba(80, 63, 205, 0.5) 0 1px 30px;
  transition-duration: .1s;
}

@media (min-width: 768px) {
  .coloroptions button {
    padding: 0 2.6rem;
  }
}

.slidercontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
}

#gridcontainer {
  margin: auto;
	box-sizing: border-box;
	display: grid;
	resize: both;
	overflow: auto;
  width: 600px;
  height: 600px;
  grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(4, 1fr);
  border: 10px solid #B8C4BB;
	background-color: #B8C4BB;
  grid-gap: 1px;
  resize: none;
}

.grid {
    background-color: #E8F7EE;
}

/*Slider Customization */
input[type=range] {
  height: 35px;
  -webkit-appearance: none;
  appearance: none;
  margin: 10px 0;
  width: 100%;
  background-color: transparent;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 12px;
  cursor: pointer;
  box-shadow: 0px 0px 0px #000000;
  background: #576066ff;
  border-radius: 10px;
  border: 1px solid #010101;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 2px #000031;
  border: 2px solid #000000;
  height: 26px;
  width: 26px;
  border-radius: 15px;
  background: linear-gradient(92.88deg, #455EB5 9.16%, #5643CC 43.89%, #673FD7 64.72%);
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -8.5px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #576066ff;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 12px;
  cursor: pointer;
  box-shadow: 0px 0px 0px #000000;
  background: #576066ff;
  border-radius: 10px;
  border: 1px solid #010101;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 2px #000031;
  border: 2px solid #000000;
  height: 26px;
  width: 26px;
  border-radius: 15px;
  background: linear-gradient(92.88deg, #455EB5 9.16%, #5643CC 43.89%, #673FD7 64.72%);
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 12px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #576066ff;
  border: 1px solid #010101;
  border-radius: 20px;
  box-shadow: 0px 0px 0px #000000;
}
input[type=range]::-ms-fill-upper {
  background: #576066ff;
  border: 1px solid #010101;
  border-radius: 20px;
  box-shadow: 0px 0px 0px #000000;
}
input[type=range]::-ms-thumb {
  margin-top: 1px;
  box-shadow: 1px 1px 2px #000031;
  border: 2px solid #000000;
  height: 26px;
  width: 26px;
  border-radius: 15px;
  background: linear-gradient(92.88deg, #455EB5 9.16%, #5643CC 43.89%, #673FD7 64.72%);
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: #576066ff;
}
input[type=range]:focus::-ms-fill-upper {
  background: #576066ff;
}

/* Color picker costumization */
#swatch{
  background: #E8F7EE;
  box-shadow: 1em 1em 1em rgba(0, 0, 0, .1);
  display: flex;
  flex-direction: column;
}

#swatch .info{
  padding: 1em;
}

#swatch h1{
  margin: 0;
  text-transform: uppercase;
}

#swatch h2{
  font-weight: normal;
  margin: 0;
}

input[type="color"] {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background: none;
  border: 0;
  cursor: pointer;
  height: 12em;
  padding: 0;
  width: 15em;
}

*:focus{
  border-radius: 0;
  outline: none;
}

::-webkit-color-swatch-wrapper {
  padding: 0;
}

::-webkit-color-swatch{
  border: 0;
  border-radius: 0;
}

::-moz-color-swatch,
::-moz-focus-inner{
  border: 0;
}

::-moz-focus-inner{
  padding: 0;
}

