body {
    display: flex;
    justify-content: center;
}

#gridcontainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 408px;
    height: auto;
    border-style: solid;
    border-width: 1px;
}

.grid {
    width: 100px;
    height: 100px;
    border-style: solid;
    border-width: 1px;
}